.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: line;
}

.y.axis path {
  display: line;
}

.grid .tick {
    stroke: black;
    stroke-width: 0.2px;
    opacity: 5;
}

.rect {
  fill:black;
  stroke:none;
}

.line {
  fill: none;
  stroke: #1c9099;
  stroke-width: 3.5px;
}
