<div class="second"> </div>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
<style>
.second div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>


<script type="text/javascript">
d3.csv("/dataibt.csv", type, function (error, data) {
  x.domain(d3.extent(data, function(d) {return d.value; })).nice();
  y.domain(data.map(function(d) {return d.name; }));
  
d3.select("div.second")
	.selectAll("div")
		.data(data)
	.enter().append("div")
		.style("width", function(d) { return (d) * 10 + "px"; })
    	.text(function(d) { return d; });
    	

</script>
