body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.8em;
}

.state rect {
  fill: #dedede;
}

.state text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.state--banned rect {
  fill: #2b8cbe;
}

.state--banned text {
  fill: #333;
}

.state--reg rect {
  fill: #de2d26;
}

.state--reg text {
  fill: #333;
}

span.state--banned {
  font-size: 16px;
  color: #2b8cbe;
  font-weight: bold;
}

span.state--reg  {
  font-size: 16px;
  color: #de2d26;
  font-weight: bold;
}

span.state--rest  {
  font-size: 16px;
  color: #888;
  font-weight: bold;
}

.explainer {
  padding-top: 5px;
}

span.percentage--hil {
  color: #2b8cbe;
  font-size: 36px;
  font-weight: bold;
}

span.percentage--tru {
  color: #de2d26;
  font-size: 36px;
  font-weight: bold;
}

.credit {
  color: #666;
  padding-top: 10px;
}

@media (min-width: 0px) and (max-width: 400px) {

  h2 {
    font-size: 1.3em;

  }
    .state text {
  font: 9px sans-serif;
  text-anchor: middle;
}
}



a {

  color: #333;
}
